<div *ngIf="blogs" class="container">
    
    <div class="jumbotron">
        <h1 class="display-4 text-center">Hello, world!</h1>
        <p class="lead text-center">This is a simple blog with JWT authentication.</p>
    </div>

    <div class="row">
        <div *ngFor="let blog of blogs" class="col-lg-6">
            
            <div class="card mb-4">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h4>{{blog.title}}</h4>
                    </div>
                    <div class="card-img-top">
                        <img src = "{{blog.image}}">
                    </div>
                        <!-- <span><%= blog.created.toDateString() %></span> -->
                    <div class="card-text mt-4 mb-4">
                        <h6>{{blog.body}}</h6>
                        <!-- <p>< blog.body.substring(0, 100) %> ...</p> -->
                    </div>
                    
                    <a *ngIf="checkLoggedIn()" class="btn btn-dark" routerLink="/detail/{{blog._id}}">
                        Read More
                    </a>
                        
                </div>
            </div>
        </div>

    </div>
    
</div>
