<div class='container'>
    <div class='h1 mb-4 mt-4 text-center'>Log In</div>
    <div> email: new@gmail.com </div> 
    <div> password: newnew </div> 
    <br><br>
    <div class='logged-out'>
        <span id='loginForm'>
            <div *ngIf='!checkIfLoggedIn()' class='form-group'>
                <label *ngIf='!checkIfLoggedIn()' for='email'>Email</label>
                <input *ngIf='!checkIfLoggedIn()' [(ngModel)]='email' type='email' class='form-control' id='email' placeholder='Email'>
            </div>  
            <div *ngIf='!checkIfLoggedIn()' class='form-group'>
                <label *ngIf='!checkIfLoggedIn()' for='password'>Password</label>
                <input *ngIf='!checkIfLoggedIn()' [(ngModel)]='password' type='password' class='form-control' id='password' placeholder='Password'>
            </div>  
            <a *ngIf='!checkIfLoggedIn()' class='btn btn-primary' (click)='doLogin()'>Login</a>
        </span>
    </div>
</div>
<div class='logged-in'>
    <span id="welcomeMessage">
        <span *ngIf='checkIfLoggedIn()'> You are logged in. </span>

        <button *ngIf='checkIfLoggedIn()' (click)='destroyToken()'>Log Out</button>
    </span>
</div> 
  