<div *ngIf='checkToken()' class='container'>
        <div class='h1 mb-4 mt-4 text-center'>New Blog</div>
  
    <form>
        <div class='form-group'>
            <label for='blogTitle'>Blog Title</label>
            <input #blogTitle type='text' class='form-control' placeholder='Title'>
        </div>
        <div class='form-group'>
            <label for='blogImage'>Image URL</label>
            <input #blogImage type='url' class='form-control' placeholder='Enter image URL'>
        </div>
        <div class='form-group'>
            <label for='blogBody'>Blog Body</label>
            <textarea #blogBody class='form-control' rows='3'></textarea>
        </div>
        <button (click)='create(blogTitle.value, blogImage.value, blogBody.value)' type='submit' class='btn btn-primary'>Submit</button>
        <button (click)='goToBlogs()'>Go to blog list</button>

    </form>

</div>