<ul class='nav justify-content-center'>
    <li class='nav-item'>
        <a class='nav-link active' routerLink='/blogs'>Home</a>
    </li>
    <span id='new'>
        <li *ngIf='checkIfLoggedIn()' class='nav-item'>
            <a class='nav-link' routerLink='/blogs/new'>Newblog</a>
        </li>
    </span>
    <span id='log'>
        <li *ngIf='!checkIfLoggedIn()' class='nav-item'>
            <a class='nav-link' routerLink='/login'>Login</a>
        </li>

        <li *ngIf='checkIfLoggedIn()' class='nav-item'>
            <a routerLink='/' class='nav-link' (click)='logOut()'>Logout</a>
        </li>
    </span>
    <span id='register'>    
        <li *ngIf='!checkIfLoggedIn()' class='nav-item'>
            <a class='nav-link' routerLink='/register'>Register</a>
        </li>
    </span>
</ul>

<router-outlet></router-outlet>